h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#333;
    margin-left: 50px;
    margin-bottom: 8px;
    padding-top: 50px;
}


::-webkit-input-placeholder {
    color: rgb(51, 51, 51);
    opacity: 10% ;
}

::-moz-placeholder {
    color: rgb(51, 51, 51);
    opacity: 10% ;
}

::-ms-placeholder {
    color: rgb(51, 51, 51);
    opacity: 10% ;
}

::placeholder {
    color: rgb(51, 51, 51);
    opacity: 10% ;
}
input[type=text] {
    width: 200px;
    padding-bottom: 8px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
}
textarea {
    width: 80%;
    height: 150px;
    margin-left: 50px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
}
#image {
    float: right;
    width: 100px;
    height: 300px;
    background-color:white;
    margin-right: 450px;
    margin-top: 100px;
}
#contact {
    float: left;


    margin-left:50px;
    margin-top: 100px;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    width: 50%;
    height: 79% ;
}

input[type=button] {
    background-color: #f4511e;
    margin-left: 50px;
    margin-top: 20px;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 100pt;

    opacity: 0.7;
    transition: 0.3s;
}
input[type=button]:hover {
    opacity: 1;
}
.footer {
    background-color: black;
    color: white;
    margin-top: 48%;
    padding: 100px;
    text-align: center;
}

body {background-color:rgb(255, 255, 255);}
