.buttons:hover{
    background-color: #4b4444;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttons{
    width: 500px;
    height: 45px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gayathri', sans-serif;
}

#parent{
    position: absolute;
    top: 300px;
    left: 525px;
}

#heading{
    text-align: center;
    position: absolute;
    width: 500px;
    top: 210px;
    left: 525px;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 35px;
}

#logo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1536px;
    background-color: black;
    justify-content: right;
}

#pic{
    align-self: center;
}

.btn{
    width: 120px;
    height: 45px;
    background-color: #455754;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gayathri', sans-serif;   
    float: left;
}

.btn:hover{
    background-color: #000000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn_parent{
    visibility: collapse;
}