.container-profile {
    position: fixed;
    left: 27.5%;
    height: 327px;
    top: 27.5%;
    width: 45%;
    text-align:center;
    padding: 20px;
    background-image: url("../IMAGES/login_back.png");
    opacity: 1;
    border: black;
    color: white;
    border-style: inset;
   }
 
 .div-out {
     background-color: black;
     height: 400px;
     width: 50%;
     top: 22.5%;
     text-align:center;
     position: fixed;
     left: 25%;
     color: black;
 }